<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Login</h1>
      </div>
      <div class="body">
        <form>
          <table class="table">
            <tr>
              <td class="label"><label>ID</label></td>
              <td class="input"></td>
            </tr>
            <tr>
              <td class="label"><label>PW</label></td>
              <td class="input"></td>
            </tr>
            <tr>
              <td class="button" colspan="2">
                <input class="btn" type="submit" value="로그인" />
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
