<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>쪽지 확인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Note List</h1>
      </div>
      <div class="body">
        <a class="btn">쪽지작성</a>
        <a class="btn">보낸쪽지함</a>
        <a class="btn">받은쪽지함</a>
        <a class="btn">중요쪽지함</a>
        <a class="btn">메인으로</a>
      </div>
    </div>
  </body>
</html>
