<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>쪽지 읽기 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Note Read</h1>
      </div>
      <div class="body">
        <table class="table">
          <tr>
            <td class="label"><label>Send ID</label></td>
            <td></td>
          </tr>
          <tr>
            <td class="label"><label>Recv ID</label></td>
            <td></td>
          </tr>
          <tr>
            <td class="label"><label>Title</label></td>
            <td></td>
          </tr>
          <tr>
            <td class="label"><label>Content</label></td>
            <td></td>
          </tr>
          <tr>
            <td class="button" colspan="2">
              <a class="btn">받은 쪽지함으로</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
