<html>
  <head xmlns:th="http://www.thymeleaf.org">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>SC Note</h1>
      </div>
      <h2 th:text="${name} + '님, 가입을 환영합니다!'"></h2>
      <div class="body">
        <a class="btn" href="/member/insertForm">회원가입</a>
        <a class="btn" href="/member/loginForm">로그인</a>
        <a class="btn" th:if="${username!=null}" >로그아웃</a>
        <a class="btn" th:if="${username!=null}">쪽지확인</a>
      </div>
    </div>
  </body>
</html>
